@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --principal-color: #000;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: white;
}

body {
  background-color: var(--principal-color);
  backdrop-filter: brightness(20%);
}

h1 {
  font-weight: 800;
  text-shadow: 1px 3px 0px black;
}

p {
  font-weight: 600;
}

input {
  border-radius: 0.5rem;
  transition: 200ms all;
  color: black;
  font-weight: 600;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

input:hover {
  box-shadow: 5px 5px 0 1px black;
}

input:focus {
  outline: none;
  box-shadow: 5px 5px 0 1px black;
}

.principal-button {
  padding: 0.6rem 1.5rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 700;
  transition: 200ms all;
}

.principal-button:hover {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 0 1px black;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 15px 15px 0 1px black;
}

.option-card {
  padding: 0.6rem 1.5rem;
  border: 2px solid white;
  border-radius: 0.5rem;
  transition: 300ms all;
  cursor: pointer;
}

.option-card:hover {
  background-color: white;
  color: black;
  box-shadow: 5px 5px 0 1px black;
  font-weight: bold;
}

.correct-option {
  background-color: #00bc7d;
  border: #00bc7d;
  font-weight: bold;
}

.correct-option:hover {
  background-color: #00bc7d;
  color: white;
  box-shadow: none;
}

.wrong-option {
  opacity: 0.5;
  cursor: not-allowed;
}

.wrong-option:hover {
  opacity: 0.5;
  background-color: transparent;
  color: white;
  box-shadow: none;
}
